{% extends 'base.html.twig' %}

{% block body %}
    {% include 'partials/nav.html.twig' %}
    <br>
    <div class="container">
        {% if message is defined and message is not null %}
            <h4>{{ message }}</h4>
        {% else %}
            <h4>Vielen Dank!</h4>
        {% endif %}

    </div>

{% endblock %}


{% block stylesheets %}

{% endblock %}
